
<div>
<div>
  <h2>Hi {{profile.givenName}}</h2>

  <div class="status-ring">
    <img class="profile-image" src="{{profile.picture}}">
  </div>
    <p class="form-group">
      <label>Name:</label>
      &nbsp; {{profile.displayName}}
    </p>

    <p class="form-group">
      <label>Email:</label>
      &nbsp; {{profile.email}}
    </p>

    <p class="form-group">
      <label>Mac Addresses</label>

      <ul>
        <li ng-repeat="(macAddress, name) in profile.macAddresses">{{name}} &mdash; {{macAddress}}
          <a href="" ng-click="removeMacAddress(name)">&nbsp;delete <span class="glyphicon glyphicon-trash"></span></a></li>
      </ul>
      <input type="text" name="NewMacAddressName" ng-model="newMacAddressName" placeholder="Device Name" >
      <input type="text" name="NewMacAddress" ng-model="newMacAddress" placeholder="MAC address" >
      <button class="btn btn-success btn-sm" ng-click="addMacAddress()">Add Mac Address</button>
    </p>

  <p>
    <button class="btn btn-small btn-primary" role="button" ng-click="logout()">Log Out</button>
  </p>
</div>

</div>

<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
